<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "/stylesheets/products.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap" rel="stylesheet"> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <div class = "nav-item active">
            <a href = "/">products</a>
        </div>
        <div class = "nav-item">
            <a href = "/about">about</a>
        </div>
        <div class = "nav-item">
            <a href = "/cart">cart</a>
        </div>
    </header>
    <main>
        <h1 class = "welcome">Welcome to Leggio Dough Co</h1>
        <p class = "welcome">Here you will find delicious homemade pastas, breads, and pastries available for pickup in Augusta, GA</p>
        <nav>
            <% if(category === "pasta") { %>
                <div class = "category-link active">
                    <a href = "/">pasta</a>
                </div>
                <div class = "category-link">
                    <a href = "/bread">bread</a>
                </div>
                <div class = "category-link">
                    <a href = "/pastries">pastries</a>
                </div>
            <% } %>
            <% if(category === "bread") { %>
                <div class = "category-link">
                    <a href = "/">pasta</a>
                </div>
                <div class = "category-link active">
                    <a href = "/bread">bread</a>
                </div>
                <div class = "category-link">
                    <a href = "/pastries">pastries</a>
                </div>
            <% } %>
            <% if(category === "pastries") { %>
                <div class = "category-link">
                    <a href = "/">pasta</a>
                </div>
                <div class = "category-link">
                    <a href = "/bread">bread</a>
                </div>
                <div class = "category-link active">
                    <a href = "/pastries">pastries</a>
                </div>
            <% } %>
        </nav>
        <div id = "list">
            <% for (var i = 0; i < products.length; i++) { %>
                <item>
                    <figure>
                        <img src = "/images/<%= products[i].name %>.jpeg" alt = "<%= products[i].name %>" 
                        width = "400" height = "400">
                    </figure>
                    <article>
                        <h2><%= products[i].name %></h2>
                        <p><%= products[i].description %></p>
                        <% var product = JSON.stringify(products[i]);  %>
                        <h5 onclick = "addCart('<%= products[i].name %>', '<%= product %>')">Add to Cart</h5>
                    </article>
                </item>
            <% } %> 
        </div>
        <!--<h3 id = "popup">added to cart!</h3>-->
    </main>
    <script src = "/javascripts/cart.js"></script>
</body>
</html>